<md-toolbar layout="row" class="md-table-toolbar">

    <a ui-sref="home">
        <md-button class="md-fab">
            <md-icon md-font-library="material-icons">home</md-icon>
        </md-button>
    </a>

    <div class="md-toolbar-tools">
        <span>About this Project!</span>
    </div>

    <a ui-sref="packages">
        <md-button class="md-fab">
            <md-icon md-font-library="material-icons">redeem</md-icon>
        </md-button>
    </a>

</md-toolbar>

<div layout="row" style="height:500px">
    <img flex="33" src="/static/templates/1.jpg"/>

    <img flex="33" src="/static/templates/2.jpg"/>

    <img flex="33" src="/static/templates/3.jpg"/>
</div>

<md-toolbar>
    <div layout="row" layout-align="center center" flex>
        <span>Meet our Team!</span>
    </div>
</md-toolbar>

<md-toolbar class="md-medium-tall">
    <div layout="row" layout-align="">
        <span>Bryce</span>
    </div>
    <div layout="row" layout-align="center">
        <span>Horacio</span>
    </div>
    <div layout="row" layout-align="end">
        <span>Spencer</span>
    </div>
</md-toolbar>
