<md-toolbar layout="row">
    <md-button class="md-fab" ng-click="addPackage($event)">
        <md-icon md-font-library="material-icons">add circle</md-icon>
    </md-button>
        <a ng-click="csv.generate()" ng-href="{{ csv.link() }}" download="my-little-package.txt">
            <md-button class="md-fab">
                <md-icon md-font-library="material-icons">description</md-icon>
            </md-button>
        </a>
    <h3 class="md-toolbar-tools">
        Packages Arrived
    </h3>
    <span flex></span>
</md-toolbar>

<div layout="row">
    <table ng-table="packages" class="table table-striped" export-csv="csv" separator=";" show-filter="true">
        <tr ng-repeat="package in $data">

            <td>
                <md-button class="md-fab md-warn md-mini" ng-click="delPackage($event, package)">
                    <md-icon md-font-library="material-icons">clear</md-icon>
                </md-button>
            </td>

            <td class="text-center" title="'First Name'" filter="{ first_name: 'text'}" sortable="'first_name'">
                {{package.first_name}}
            </td>

            <td class="text-center" title="'Last Name'" filter="{ last_name: 'text'}" sortable="'last_name'">
                {{package.last_name}}
            </td>

            <td class="text-center" title="'Tracking Number'" filter="{ tracking_number: 'number'}">
                {{package.tracking_number}}
            </td>

            <td class="text-center" title="'Address'" filter="{ address: 'text'}" sortable="'address'">
                {{package.address}}
            </td>

            <td class="text-center" title="'Log Date'" filter="{ log_date: 'text'}" sortable="'log_date'">
                {{package.log_date | date:'EEE MMM d yyyy, h:mm a'}}
            </td>

            <td class="text-center" title="'Pickup Date'" filter="{ pickup_date: 'text'}" sortable="'pickup_date'">
                {{package.pickup_date | date:'EEE MMM d yyyy, h:mm a'}}
            </td>

        </tr>
    </table>
</div>
